<section class="mb-4" style="margin-top:10em">
    <h1 class="text-center holoFont display-3 mb-5">
        Contact us!
    </h1>
    <div class="container-fluid justify-content-between row text-center">
        <div class="col">
            <div class="row justify-content-center pt-4 mb-2">
                <h2 class="holoFont holoText display-3 mr-4 mt-1">Visit</h2>
                <img src="../../../assets/image/Hololive.png" class="align-middle" alt="Hololive title"
                    style="height: 6em;">
            </div>
            <img src="../../../assets/image/contact.webp" alt="contact" style="height: 40em;">
            <ul class="list-group">
                <li class="list-group-items"><a class="holoText font-weight-bold" href="https://en.hololive.tv/"
                        target="_blank" style="font-size:2em; text-decoration: none;">More information here</a></li>
            </ul>
        </div>
        <div class="col holoBackground pt-4 ">
            <h2 class="text-white holoFont display-3 mt-1 mb-3">Contact me!</h2>
            <div class="card" style="height: 75%; width: 75%; margin-left: auto; margin-right: auto;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</section>