<section class="mb-5 bg">
    <div class="" style="background: rgba(1,1,1, 0.2); height: 100vh;">
        <h1 class=" display-2 text-center welcome holoFont">Welcome to my website!</h1>
    </div>
</section>

<section class="col-sm-1 col-md-12 sections" id="projectSection">
    <div class="container-fluid">

        <h2 class="text-center display-4 holoFont my-5">About this project</h2>
        <div class="container col-md-9">
            <div class="row justify-content-between">
                <div class="col-sm-4 mb-5">
                    <h3 class="text-center">Reason for this project</h3>
                    <p>The reason behind this project can be split into two. The first is for acedemic purposes, since this
                        is a graded
                        assignement. The second reason for this project is to test all the knowledge I've gained throughout
                        the entire semester.
                        This semester the main topics were Bootstrap, Angular and Typescript.
                    </p>
                    <h5>Bootstrap</h5>
                    <p>In Bootstrap we learned to use Containers,
                        adapt Bootstrap Templates, make the website Responsive and code faster with Bootstrap styles.</p>
                    <h5>Angular</h5>
                    <p>In Angular we learned to about Components, the angular files,
                        the commands and the power of angular to create SPA websites like this one</p>
                    <h5>Typescript</h5>
                    Typescript was used for writing Get, Post, Put, Delete methods as well as other methods for validation.
                </div>
                <div class="col-sm-4 mb-5">
                    <h3 class="text-center">Goal of this project</h3>
                    <p>My personal goals:
                        The goal of this project is to test my skills with the deadline given and spread the love for
                        Hololive. In this project i'm expected to make use of Containers, Margins, Table, Card, Footer,
                        Navbar, Forms, and the Responsiveness of the website</p>
                    <ul class="list-group">
                        <li class="list-group-item"> Create a responsive website</li>
                        <li class="list-group-item"> Make the website look good to the eyes</li>
                        <li class="list-group-item"> Contribute to sharing Hololive to others</li>
                        <li class="list-group-item"> Use modern web design techniques</li>
                    </ul>
                </div>
                <div class="col-sm-4 mb-5">
                    <h3 class="text-center">Future of this project</h3>
                    <p>This project is by no means perfect and I expect to bring modifications to it. In the future the
                        website will be more modern as I learn more techniques and ways to design it.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-sm-1 col-md-12 pt-3" id="projectHololive">
    <div class="container-fluid">
        <h2 class="text-center text-white display-4 holoFont mt-5">Project Hololive</h2>

    </div>
</section>