<section class="holoBackground" style="padding-bottom: 10em; margin-bottom: 10em">
  <!-- Start background -->
  <div class="bg">
    <div style="background: rgba(1,1,1, 0.2); height: 60vh;">
    </div>
  </div>
  <!-- End background -->
  <div class="bg-white mb-5" style="padding-top: 0.5em; padding-bottom: 0.5em;">
    <h1 class="text-center my-5 holoText holoFont display-4">Want to be part of the team? Apply today!</h1>
  </div>

    
  <div class="container-fluid my-5 py-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-5 text-center" style="margin-bottom: 5em; margin-left: 5%; margin-right: 5%;">
        <div class="card p-2" style="margin-top: 10%;">
          <img src="../../../assets/image/side.png" alt="side" style="height: 100%; width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Come join us!</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-5">
        <div class="container" id="memberForm" style="padding-top: 1em; padding-bottom: 1em; margin-top: 25%;">
          <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
          <div *ngIf="invalidFormMessage != ''" class="text-center">
            <h3 class="text-danger font-weight-bold">{{invalidFormMessage}}</h3>
          </div>
    
          <div class="form-group mb-3">
            <label for="firstName" class="form-label text-capitalize">first name</label>
            <input type="name" class="form-control" id="firstName" formControlName="firstName">
            <div *ngIf="form.firstName.invalid && (form.firstName.dirty || form.firstName.touched)"
              class="text-danger font-weight-bold ml-2">
              <div *ngIf="form.firstName.errors.required">The first name is required</div>
              <div *ngIf="form.firstName.errors.minlength">First Name must be at least 4 characters</div>
            </div>
          </div>
    
          <div class="form-group mb-3">
            <label for="lastName" class="form-label text-capitalize">last name</label>
            <input type="name" class="form-control" id="lastName" formControlName="lastName">
            <div *ngIf="form.lastName.invalid && (form.lastName.dirty || form.lastName.touched)"
              class="text-danger font-weight-bold">
              <div *ngIf="form.lastName.errors.required">The last name is required</div>
              <div *ngIf="form.lastName.errors.minlength"> Last Name must be at least 4 characters</div>
            </div>
          </div>
    
          <div class="form-group mb-3">
            <label for="age" class="form-label text-capitalize">age</label>
            <input type="number" class="form-control" id="age" formControlName="age">
            <div *ngIf="form.age.invalid && (form.age.dirty || form.age.touched)" class="text-danger font-weight-bold ml-2">
              <div *ngIf="form.age.errors.required">Age is required</div>
              <div *ngIf="form.age.errors.max">Age cannot exceed 3 digits</div>
            </div>
          </div>
    
          <div class="form-group mb-3">
            <label for="youtube" class="form-label text-capitalize">youtube channel</label>
            <input type="url" class="form-control" id="youtube" formControlName="youtube">
            <div *ngIf="form.youtube.invalid && (form.youtube.dirty || form.youtube.touched)"
              class="text-danger font-weight-bold">
              <div>The youtube channel url is required</div>
            </div>
          </div>
    
          <div class="form-group mb-3">
            <label for="profile" class="form-label text-capitalize">profile picture url</label>
            <input type="url" class="form-control" id="profile" formControlName="profile">
            <div *ngIf="form.profile.invalid && (form.profile.dirty || form.profile.touched)"
              class="text-danger font-weight-bold">
              <div>The profile picture url is required</div>
            </div>
          </div>
    
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        
      </div>
    </div>
    
  </div>

</section>